<h3><strong>Demo Application</strong></h3>
<p>Created as a code-along with the Net Ninja's Youtube Angular 2 playlist</p>
<p>You can find the playlist here: <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jqhk5RvBiEwHMKSUXPyng0">Angular 2</a></p>
<p><strong>Important Note: </strong> Much of the Ninja's tutorial was written
  with an earlier version of Angular 2 and the Angular 2 CLI which
  necessatated a lot of "looking things up" to make it all work now that
  Angular 2 final has been released.</p>
<p>You can find my <a href="http://p1xt-redpanda.surge.sh/angular2/spa/2016/11/29/Angular-2-Net-Ninja.html">notes here</a> and the repo for this demo
  <a href="https://github.com/P1xt/ng2-demo-netninja">here</a>.</p>
